apiVersion: v1
kind: Pod
metadata:
  name: {{ name }}
spec:
  # schedulerName: my-controller
  containers:
  - name: busybox
    image: busybox
    ports:
    - containerPort: 80
    command: ["bin/sh"]
    args: ["-c", "sleep {{ sleep_time }}; echo 'slept for {{ sleep_time }} seconds'"]
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: "{{ cpu }}m"
  restartPolicy: Never
