apiVersion: v1
kind: Pod
metadata:
  name: {{ name }}
  namespace: dist-sched
spec:
  schedulerName: {{ scheduler_name }}
  containers:
    - name: fft
      image: cuso4/fft
      command: ["./fft.py"]
      args: ["{{ n }}"]
      imagePullPolicy: IfNotPresent
      resources:
        requests:
          cpu: "{{ cpu }}m"
  restartPolicy: Never
