apiVersion: v1
kind: Pod
metadata:
  name: {{ name }}
  namespace: dist-sched
spec:
  schedulerName: {{ scheduler_name }}
  containers:
    - name: pi
      image: perl:5.34.0
      command: ["perl",  "-Mbignum=bpi", "-wle", "print bpi({{ digits }})"]
      imagePullPolicy: IfNotPresent
      resources:
        requests:
          cpu: "{{ cpu }}m"
  restartPolicy: Never
