apiVersion: v1
kind: Pod
metadata:
  name: annotation-second-scheduler
  labels:
    name: multischeduler-example
  
spec:
  schedulerName: rand-scheduler
  
  containers:
  - name: pod-with-second-annotation-container
    image: k8s.gcr.io/pause:2.0
  
